<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xue.mapper.SeckillMapper">
    <select id="findById" resultType="com.xue.entity.Seckill">
       select * from seckill where seckill_id = #{id}
    </select>

    <select id="getAll" resultType="com.xue.entity.Seckill">
      select name,number,start_time,end_time from seckill
  </select>

    <update id="updateNumber" parameterType="com.xue.entity.Seckill">
    update seckill set number = number -1 where number > 0 and seckill_id= #{id}
  </update>

    <select id="getCount" parameterType="com.xue.entity.Seckill">
        select number from seckill where seckill_id=#{id}
    </select>
</mapper>