<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xue.mapper.SuckillMapper">
   <insert id="insertRecord" parameterType="com.xue.entity.SuccessKill">
       insert into success_killed(seckill_id,user_id,state,create_time) values(#{seckillId},#{userId},#{state},SYSDATE())
   </insert>
</mapper>