<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta http-equiv="Content-type" content="text/html" ; charset="UTF-8">

    <!-- jquery：用户异步发出请求（注：@为thymeleaf的静态资源引入符） -->
    <script type="text/javascript" th:src="@{/static/jquery.min.js}"></script>
    <!-- bootstrap：页面展示 -->
    <script type="text/javascript" th:src="@{/static/bootstrap.min.css}"></script>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">秒杀商品列表</div>
    <table class="table" id=""></table>
    <tr>
        <td>商品名称</td>
        <td>商品数量</td>
        <td>开始时间</td>
        <td>结束时间</td>
        <td>秒杀</td>
    </tr>

    <tr th:each="goods,goodsStat : ${seckill}">
        <td th:text="${goods.name}"></td>
        <td th:text="${goods.number}"></td>
        <td th:text="${#dates.format(goods.start_time,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${#dates.format(goods.end_time,'yyyy-MM-dd HH:mm:ss')}"></td>
        <td id="seckillTip">
            <input type="hidden" id="remainSeconds" th:value="${remainSeconds}"/>
            <span th:if="${start_time lt (new date())}">秒杀倒计时:<span id="countDown" th:text="${remainSeconds}"></span>秒
</span>
            <span th:if="${start_time eq (new Date())}">秒杀进行中</span>
            <span th:if="${start_time gt (new Date())}">秒杀已结束</span>
        </td>
        <td>
            <form id="seckillForm" method="post" action="/seckill/startSeckill">
                <button class="btn btn-primary btn-block" type="submit" id="buyButton">立即秒杀</button>
                <input type="hidden" name="seckillId" th:value="${goods.seckillId}">
            </form>
        </td>
    </tr>
</div>

</body>

<script>
    $(function () {
        countDown();
    });

    function countDown() {
        var remainSeconds = $("#remainSeconds").val();
        var timeout;
        if (remainSeconds > 0) {
            $("#buyButton").attr("disabled", true);
            timeout = setTimeout(function () {
                $("#countDown").text(remainSeconds - 1);
                $("#remainSeconds").val(remainSeconds - 1);
                countDown();
            }, 1000);
        } else if (remainSeconds == 0) {
            $("#buyButton").attr("disabled", false);
            if (timeout) {
                clearTimeout(timeout);
            }
            $("#seckillTip").html("秒杀进行中");
        } else {
            $("#buyButton").attr("disabled", true);
            $("#seckillTip").html("秒杀已经结束");
        }

    }

</script>

</html>